django-cms=={{ django_cms_version }}
django=={{ django_version }}
djangocms-installer
mysqlclient
uwsgi
# Optional, recommended packages
Pillow
django-filer==0.9.5
cmsplugin-filer==0.9.5
django-reversion==1.7
